
.navbar{
    position:fixed;
    height:100%; 
    width:10%;
    border-right: 1px solid white;
    top:0;
    left:0;  
}
.one{
    border-top:1px solid white;
}

#header-icon{
    padding:1rem 0rem 1rem 2.5rem;
}
#icon{
    padding:1rem 0rem 1rem 1.5rem;
}

li{
    list-style: none;
    
}
a{
    text-decoration: none;
    display:block;
    padding:0.5rem 0rem 0.5rem 0rem;
    color:black;
}


/*main*/
.center{
    background-color: #F3F4F6;
    height:100vw;
    margin-left:145px;
    margin-top:100px ;
    position:relative;  
}

#video{
    text-decoration: none;
    color: black;
}

#vi{
    margin-left:50px;
}

#input-for-url{
    width:60%;
    height:3vh;
    border-radius:0.5rem;
    margin-top:70px;
    margin-left:300px;
}
p{
    text-align:center;
}
.uploading{
    margin-left:300px;
    border:1px solid white;
    background-color:white;
    height:100px;
    width:100px;

}